<header>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">
                    {{ title }}
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container body-container">
    <div class="row">
        <main class="col-sm-9">
            <router-outlet></router-outlet>
        </main>

        <div id="sidebar" class="col-sm-3">
            <!-- todo -->
        </div>
    </div>
</div>

<footer class="bg-faded">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-6">
                <p>&copy; 2017 - The Angular Project</p>
                <p>MIT Лицензия</p>
            </div>
        </div>
    </div>
</footer>
